# Ignore everything in subdirectories by default
**/

# Don't ignore .gitignore files in subdirectories
!*/.gitignore

# Include specific applicaton directories
!/Operator/
!/Operator/**
!/DECAF/
!/DECAF/**
!/JuneBug/
!/JuneBug/**

# Common files to ignore
.DS_Store
.env
*.log

# Node.js specific ignores (if applicable)
node_modules/
npm-debug.log
yarn-error.log

# Build output directories (customize as needed)
/build/
/dist/

# IDE and editor folders
.idea/
.vscode/
*.swp
*.swo

# Operating system files
Thumbs.db
